h1,
.h1 {
    font-weight: 600;
}
 
h2,
.h2 {
    font-weight: 500;
    text-transform: uppercase;
}

h3,
.h3{
    font-weight: 500;
    text-transform: uppercase; 
    margin-bottom: 1.5rem;
}
h4,
.h4{
    font-weight: 400;
    text-transform: uppercase; 
}


.text-uppercase {
    text-transform: uppercase;
}
 
blockquote{
    // font-style: italic; 
    // max-width: 750px;
    // margin: 46px auto 36px;

    cite{
        font-style: normal;
    }
}

.is-active > .accordion-title::before{
    content: '\e90c';
}

.accordion-title{
    
    padding-left: rem-calc(57);

    &:before {
        font-family: "icomoon" !important;
        content: '\e911';
        position: absolute;
        top: 50%;
        left: 1.15rem;
        margin-top: -0.5rem;
        color: $secondary-color;
    }

    
    &:hover{
        color: inherit;
    }


}

.accordion,
.tabs-content{
    margin-bottom: $custom-margin;
}

.custom-list{
    @extend %listreset;

    li{
        padding: 0 0 11px 40px;
        position: relative;
        &:before{
            content: "\e909";
            font-family: "icomoon";
            color: $secondary-color;
            position: absolute;
            top: -3px;
            left: 18px;
            font-size: rem-calc(17px);
            
        }
    }
}