.slideshow {
    position: relative;

    .orbit {
        left: 50%;
        width: 100vw;
        transform: translateX(-50%);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }



    .orbit-image {
        margin-bottom: 0;
    }
}

.orbit-previous,
.orbit-next {
    color: rgba($white, .5);

    @include breakpoint(medium) {
        font-size: 35px;
    }

    @include breakpoint(large) {
        font-size: 69px;
    }
}

.standart-gallery {
    img {
        width: 100%;
    }
}

.carousel {
    position: relative;



    .btn-next {
        @extend .orbit-next;
    }

    .btn-prev {
        @extend .orbit-previous;
    }

    img {
        margin: 0;
    }

    .btn-next,
    .btn-prev {
        cursor: pointer;
        background: transparent !important;
        outline: none;

        &:hover {
            color: $white;
        }
    }
}

.full-width-container{
    .masonry .cell{
        margin-bottom: 0;
    }
}

.masonry {
    align-items: flex-start;
    text-align: center;

    .cell {
        position: relative;
        overflow: hidden;
        margin-bottom: $custom-margin;

        img {
            margin: 0;
            width: 100%;
        }

        &:hover {

            .description {
                opacity: 1;
            }

            .bottom-description {
                transform: translateY(0);
            }
        }
    }

    .description {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($white, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.5;
        text-transform: uppercase;
        padding: 20px;
        color: $body-font-color;
        opacity: 0;
        transition: opacity $animation-speed ease-in-out;
        overflow: hidden;

        @include breakpoint(large) {
            font-size: 20px;
        }

        p {
            margin: 0;
        }
    }

    .bottom-description {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: $white;
        color: $body-font-color;
        padding: 10px;
        transform: translatey(100%);
        transition: transform $animation-speed ease-in-out;
        
        @include breakpoint(large) {
            padding: 18px 10px;
            font-size: 18px;
        }

        p {
            margin: 0;
        }
    }
}