.portfolio-nav {
    @extend %listreset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -5px 24px;
    font-weight: 500;


    li {
        margin: 0 5px 5px;

    }

    .active a,
    a:hover {
        background: $secondary-color;
    }

    a {
        display: block;
        background: $primary-color;
        color: $white;
        padding: 6px 10px;
        text-transform: uppercase;
        transition: color $animation-speed ease-in-out, background $animation-speed ease-in-out;

        @include breakpoint(medium) {
            padding: 7px 20px;
        }

    }
}


.portfolioFilterGridHolder {
    align-items: flex-start;
}