.portfolio-nav{
    @extend %listreset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -5px 10px;


    li{
        margin: 0 5px 5px;        

    }

    .active a,
    a:hover{
        background: $secondary-color; 
    }

    a{
        display: block;
        // border: 1px solid $secondary-color;
        // color: $secondary-color;
        background: $primary-color;
        color: $white;
        padding: 5px 10px;
        text-transform: uppercase;
        transition: color $animation-speed ease-in-out, background $animation-speed ease-in-out;
        
        @include breakpoint(medium) {
            padding: 7px 17px;
        }
        
    }
}

// .portfolio{
//     .card{
//         position: relative;
//     }

//     .img-block{
//         position: relative;

//         img{
//             margin: 0;
//             width: 100%;
//         }

//         &:hover{
//             .hover-block{
//                 opacity: 1;
//             }

//             .overlay{
//                 opacity:.6 ;
//             }
//         }
//     }

//     .hover-block{
//         position: absolute;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         z-index: 1;
//         opacity: 0;
//         transition: opacity $animation-speed ease-in-out;

//         .icon{
//             @include size(60px);
//             font-size: 30px;
//             color: $primary-color;
//             align-items: center;
//             line-height: 60px;
//             background: $white; 
//             border-radius: 50%;
//             text-align: center;
//         }
//     }

//     .overlay{
//         opacity: 0;
//         transition: opacity $animation-speed ease-in-out;
//     }

//     h4{
//         a{
//             color: inherit;
//         }
//     }
// }

.portfolioFilterGridHolder{
    align-items: flex-start;
}

