.team-section {

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        margin-bottom: - $section-indent / 2;

        @include breakpoint(medium) {
            margin-bottom: - $section-indent;
        }
    }

    &.full-bg {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 100vw;
            transform: translateX(-50%);
            bottom: 0;
            background: $background-blocks;
            z-index: -1;
        }
    }

    .box {
        text-align: center;
        margin-bottom: $custom-margin;
    }

    .img-block {
        position: relative;
        margin-bottom: $custom-margin/2;
        overflow: hidden;
        display: block;

        @include breakpoint(medium) {
            margin-bottom: $custom-margin;
        }


        img {
            width: 100%;
            margin: 0;
        }

        &:hover {


            .description {
                opacity: 1;
            }

            .overlay {
                opacity: 0.6;
            }
        }

        .overlay,
        .description {
            opacity: 0;
            transition: opacity $animation-speed ease-in-out;
        }

        .description {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            color: $white;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .circle-items {
        .img-block {
            border-radius: 50%;
            max-width: 270px;
            margin-left: auto;
            margin-right: auto;
        }

        h2 {
            @extend .h3;
        }
    }




    h2 {
        a {
            color: inherit;

            &:hover {
                color: $primary-color;
            }
        }
    }

    h2,
    p {
        margin-bottom: rem-calc(15);
    }
}

.team-detail {
    overflow: hidden;

    .photo-block {
        text-align: center;

        @include breakpoint(large) {
            margin-right: $custom-margin;
            float: left;
        }
    }
}

.user-contacts {
    @extend %listreset;
    margin-bottom: 20px;
    
    @include breakpoint(medium) {
        margin-bottom: 34px;
    }

    li {
        position: relative;
        padding: 0 0 8px 29px;
    }

    .icon {
        position: absolute;
        top: 5px;
        left: 0;
        color: $medium-gray;
    }

    a {
        color: inherit;
    }
}