<footer id="footer">
    <div class="grid-container aside">
        <div class="grid-x grid-padding-x small-up-1 medium-up-3">
            <div class="cell">
                <h3 class="h4">Main Information</h3>
                <p>My name is Jane Doe, and I’m a professional photographer. Hope you will like my pics and you will decide to work with me.</p>
                <ul class="contact-list">
                    <li><i class="icon icon-telephone-handle-silhouette"></i> <a href="tel:99999">+1 302-555-2525</a> </li>
                    <li><i class="icon icon-envelope"></i> <a href="mailto:info@photography.com">info@photography.com</a> </li>
                </ul>
                <ul class="social-networks">
                    <li><a href="#"> <i class="icon icon-facebook"></i></a></li>
                    <li><a href="#"> <i class="icon icon-twitter-logo-button"></i></a></li>
                    <li><a href="#"> <i class="icon icon-youtube-logotype"></i></a></li>
                </ul>
            </div>
            <div class="cell">
                <h3 class="h4">Instagram</h3>
                <ul class="instagram-widget">
                    <li><a href="#"><img src="images/instagram/insta-01.jpg" alt=""></a></li>
                    <li><a href="#"><img src="images/instagram/insta-02.jpg" alt=""></a></li>
                    <li><a href="#"><img src="images/instagram/insta-01.jpg" alt=""></a></li>
                    <li><a href="#"><img src="images/instagram/insta-02.jpg" alt=""></a></li>
                    <li><a href="#"><img src="images/instagram/insta-01.jpg" alt=""></a></li>
                    <li><a href="#"><img src="images/instagram/insta-02.jpg" alt=""></a></li>
                    <li><a href="#"><img src="images/instagram/insta-01.jpg" alt=""></a></li>
                    <li><a href="#"><img src="images/instagram/insta-02.jpg" alt=""></a></li>
                </ul>
            </div>
            <div class="cell">
                <h3 class="h4">Subscribe</h3>
                <p>If you want to see all of my works earlier than everybody - just click the button and follow me.</p>
                <form action="#" class="newsletter-form ">
                    <label for="inpt01">You will receive everything new:</label>
                    <div class="input-row">
                        <input type="text" id="inut-01" placeholder="Your email address" />
                        <button class="button secondary">subscribe</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>

</footer>