<section class="item-block">
    {% if this['Image'].size > 0 -%}
        <img src="{{this['Image']}}?width=476&height=476&mode=crop" width="476" height="476" alt="image description">
    {% endif -%}
    <div class="description">
        <div class="holder">
            {% if this['Logo'].size > 0 -%}
                <div class="image-block">
                    <img src="{{this['Logo']}}" alt="{{this['Name']}}">
                </div>
            {% endif -%}
            {% if this['Text'].size > 0 -%}
                <p>{{this['Text']}}</p>
            {% endif -%}
        </div>
        <span class="overlay"></span>
    </div>
</section>