<div class="col-full-width webapp3" data-current_id="{tag_itemid}">
    <article class="article">
        <div class="alignleft">
            <div class="slider webApp3SliderHolder">
                <div class="webApp3Slider">
                    {% if this['Image1'].size > 0 -%}
                    <div class="slide">
                        <img src="{{this['Image1']}}?width=560&mode=crop" width="560" alt="image description">
                    </div>
                    {% endif -%}
                    {% if this['Image2'].size > 0 -%}
                    <div class="slide">
                        <img src="{{this['Image2']}}?width=560&mode=crop" width="560" alt="image description">
                    </div>
                    {% endif -%}
                    {% if this['Image3'].size > 0 -%}
                    <div class="slide">
                        <img src="{{this['Image3']}}?width=560&mode=crop" width="560" alt="image description">
                    </div>
                    {% endif -%}
                    {% if this['Image4'].size > 0 -%}
                    <div class="slide">
                        <img src="{{this['Image4']}}?width=560&mode=crop" width="560" alt="image description">
                    </div>
                    {% endif -%}
                    {% if this['Image5'].size > 0 -%}
                    <div class="slide">
                        <img src="{{this['Image5']}}?width=560&mode=crop" width="560" alt="image description">
                    </div>
                    {% endif -%}
                </div>
                <ul class="sliderNav">
                    {% if this['Image1'].size > 0 -%}
                    <li><a data-slide-index="0" href="#"></a></li>
                    {% endif -%}
                    {% if this['Image2'].size > 0 -%}
                    <li><a data-slide-index="1" href="#"></a></li>
                    {% endif -%}
                    {% if this['Image3'].size > 0 -%}
                    <li><a data-slide-index="2" href="#"></a></li>
                    {% endif -%}
                    {% if this['Image4'].size > 0 -%}
                    <li><a data-slide-index="3" href="#"></a></li>
                    {% endif -%}
                    {% if this['Image5'].size > 0 -%}
                    <li><a data-slide-index="4" href="#"></a></li>
                    {% endif -%}
                </ul>
            </div>
        </div>
        <header class="heading">
            <h1>{{this['Name']}}</h1>
        </header>
        {{this['Description']}}
        <a class="button btn-long" target="_blank" href="{{this['SiteLink']}}">visit website</a>
    </article>
    <ul class="nav-web webAppDetailPaging">
        <li>
            <a class="btn-prev" href="#" style="display:none;">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                prev
            </a>
        </li>
        <li>
            <a class="btn-next" href="#" style="display:none;">
                next
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</div>
<div stile="display:none;" class="hiddenWebAppListHolder">
    {% component source: "Portfolio", layout: "Alt List", type: "module" %}
</div>