{% assign parentItemId = this['parentId'] %}
{% assign urlBlog = request.request_url.path | split: "/" %}

<div class="main-holder">
    <div class="container">
        <div class="row-holder">
            <div class="col-8">
                <div class="post detail">
                  	{% if this['Image'].size > 0 -%}
                    	<div class="image-block">
                    		<img src="{{this['Image']}}?width=772&height=478&mode=crop" width="772" height="478" alt="image description">
                    	</div>
                    {% endif -%}
                    <h1>{{this['Name']}}</h1>
                    <time class="date" datetime="{{this['ReleaseDate']}}">{{this['ReleaseDate'] | date: "%B %d, %Y"}}</time>
                    {{this['Description']}}
                    <div class="share-block">
        				<strong class="title">Share This</strong>
                				<ul class="social-networks">
        					<li class="facebook"><a href="#">Facebook</a></li>
        					<li class="twitter"><a href="#">Twitter</a></li>
        				</ul>
        			</div>
                </div>
            </div>
            <div class="col-4">
                <aside id="sidebar">
                    <div class="color-block">
                    <section class="side-block">
                    <div class="side-form">
                      <h1>Get Consultation</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                      {% component type: "form", alias: "free_consultation_form" %}
                      </div>
                    </section>
                    </div>
                    <section class="side-block category">
                    <h2>Categories</h2>
                    <ul class="side-nav">
                        {% capture tpl %}<li><a href="{{request.request_url.origin}}/{{urlBlog[0]}}?category=[[category]]">[[category]]</a></li>{% endcapture %}
                        {% include "/includes/categories.inc", source: "Blog Post" %}
                    </ul>
                    </section>
                    <section class="side-block">
                        <h3>Archives</h3>
                        {% capture year %}
                            <div class="open-close month-list">
                                <b><a href="{{request.request_url.origin}}/{{urlBlog[0]}}?isBlogSearch=true&prop_ModuleId=1534&prop_ReleaseDate_Min=[[year]]-01-01&prop_ReleaseDate_Max=[[year]]-12-31&prop_ParentId={{parentItemId}}" class="opener opener-archive">[[year]] <i class="fas fa-caret-down"></i></a></b>
                                <div class="slide">
                                    <ul class="archive-list">
                                        [[monthList]]
                                    </ul>
                                </div>
                            </div>
                        {% endcapture %}
                        {% capture month %}
                            <li>
                                <a href="{{request.request_url.origin}}/{{urlBlog[0]}}?isBlogSearch=true&prop_ModuleId=1534&prop_ReleaseDate_Min=[[year]]-[[month]]-01&prop_ReleaseDate_Max=[[year]]-[[month]]-[[maxMonthDay]]&prop_ParentId={{parentItemId}}">[[monthName]]</a>
                            </li>
                        {% endcapture %}
                        {% include "/includes/archives.inc", source: "Blog Post" %}
                    </section>
                </aside>
            </div>
        </div>
    </div>
</div>