#wrapper {
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#main {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
}



.section-heading {
    margin-bottom: rem-calc(40px);
}

.section,
.content {
    flex-grow: 1;
    padding: $section-indent / 2 0;

    @include breakpoint(medium) {
        padding: $section-indent 0;
    }

    .section.bg-block {
        background: none;
        position: relative;

        &:last-child{
            margin-bottom: -$section-indent / 2;

            @include breakpoint(medium) {
                margin-bottom: -$section-indent;
            }
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: -9999px;
            right: -9999px;
            background: $background-blocks;
            z-index: -1;
        }
    }

    >.grid-container>.section:first-child{
        padding-top: 0;
    }
}


.bg-block {
    background: $background-blocks;
}

.masonry {
    align-items: flex-start;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $overlay-color;
    opacity: $overlay-opacity;
}

figure {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: rem-calc($figure-paddings-small 0 0 $figure-paddings-small);
    margin-bottom: rem-calc(30px);

    @include breakpoint(large) {
        padding: rem-calc($figure-paddings 0 0 $figure-paddings);
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: $figure-paddings-small;
        bottom: $figure-paddings-small;
        border: 1px solid $secondary-color;

        @include breakpoint(large) {
            right: $figure-paddings;
            bottom: $figure-paddings;
        }
    }
}

.social-networks {
    @extend %listreset;
    font-size: 0;
    line-height: 0;
    margin: 0 -7px;

    li {
        display: inline-block;
        vertical-align: top;
        font-size: 26px;
        line-height: 1;
        padding: 0 7px 10px;
    }

    i {
        display: inline-block;
        vertical-align: top;
    }

    a {
        &:hover {
            color: $secondary-color;
        }
    }
}

.text-holder {
    padding: 26px 0 30px;

    .autor {
        display: inline-block;
        vertical-align: top;
        color: $secondary-color;
        margin-bottom: 23px;
    }
}


.contact-list {
    @extend %listreset;
    color: #8a8a8a;
    margin-bottom: calc(#{$global-margin} + 6px);

    #footer & {
        margin-bottom: 8px;
        color: inherit;
    }

    li {
        position: relative;
        padding: 0 0 6px 38px;
    }

    .icon {
        position: absolute;
        top: 3px;
        left: 0;
        font-size: 17px;
    }
}


.loaded-block {
    position: fixed;
    background-color: $white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    transition: opacity 0.2s, visibility 0.2s, top 0s 0.2s, left 0s 0.2s;

    .loaded & {
        opacity: 0;
        visibility: hidden;
        top: -9999px;
        left: -99999px;
    }

    &:before {
        content: "";
        position: absolute;
        top: calc(50% - 2em);
        left: calc(50% - 2em);
        display: block;
        width: 4em;
        height: 4em;
        margin: auto;
        background-color: $secondary-color;
        animation: sk-rotating-plane 1.2s infinite ease-in-out;
    }
}

@keyframes sk-rotating-plane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}


.system_table tbody{
    border: none;

    tr:nth-child(even){
        background: none;
    }
}

