#wrapper {
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#main {
    flex: 1;
    display: flex;
    flex-direction: column;
}



.section-heading {
    margin-bottom: rem-calc(40px);
}

.section,
.content {
    flex-grow: 1;
    padding: $section-indent / 2 0; 

    @include breakpoint(medium) {
        padding: $section-indent 0;
    }
}


.bg-block {
    background: $background-blocks;
}

.masonry {
    align-items: flex-start;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // background: $overlay-color;
    // opacity: $overlay-opacity;
}

figure {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: rem-calc($figure-paddings-small 0 0 $figure-paddings-small);
    margin-bottom: rem-calc(30px);

    @include breakpoint(large) {
        padding: rem-calc($figure-paddings 0 0 $figure-paddings);
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: $figure-paddings-small;
        bottom: $figure-paddings-small;
        border: 1px solid $secondary-color;

        @include breakpoint(large) {
            right: $figure-paddings;
            bottom: $figure-paddings;
        }
    }
}

.social-networks {
    @extend %listreset;
    font-size: 0;
    line-height: 0;
    margin: 0 -7px;

    li {
        display: inline-block;
        vertical-align: top;
        font-size: 26px;
        line-height: 1;
        padding: 0 7px 10px;
    }

    i {
        display: inline-block;
        vertical-align: top;
    }

    a {
        &:hover {
            color: $secondary-color;
        }
    }
}

.text-holder {
    padding: 26px 0 30px;

    .autor {
        display: inline-block;
        vertical-align: top;
        color: $secondary-color;
        margin-bottom: 23px;
    }
}


// .map-holder {
//     position: relative;
//     overflow: hidden;
//     height: 200px;

//     @include breakpoint(medium) {
//         height: 300px;
//     }

//     @include breakpoint(large) {
//         height: 500px;
//     }

//     .google-map-holder {
//         width: 100vw;
//         height: 100%;
//         position: absolute;
//         left: 50%;
//         top: 0;
//         transform: translateX(-50%);
//     }

//     iframe{
//         width: 100%;
//         height: 100%;
//     }
// }



// .full-width-container{
//     position: relative;
//     width: 100vw;
//     left: 50%;
//     transform: translateX(-50%);
// }

.contact-list {
    @extend %listreset;
    color: #8a8a8a;
    margin-bottom: calc(#{$global-margin} + 6px);
    
    #footer &{
        margin-bottom: 8px;
        color: inherit;
    }

    li {
        position: relative;
        padding: 0 0 6px 38px;
    }

    .icon {
        position: absolute;
        top: 3px;
        left: 0;
        font-size: 17px;
    }
}


.pagination {
  
    ul{
        @extend %listreset;
    }

    .active a,
    .active a:hover {
        padding: 0;
        color: $white;
        pointer-events: none;
    }

    .prev {
        @extend .pagination-previous;
    }

    .next {
        @extend .pagination-next;
    }
}


.loaded-block {
    &:after {
        content: "";
        position: fixed;
        background-color: $white;
        background-image: url(../images/loading-img.gif);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999999;
        transition: opacity 0.2s, visibility 0.2s, top 0s 0.2s, left 0s 0.2s;

        .loaded & {
            opacity: 0;
            visibility: hidden;
            top: -9999px;
            left: -99999px;
        }
    }
}

.button.more {
    background: none;
    color: $secondary-color;
    border-left: 5px solid $secondary-color;
    text-transform: none;
    border-radius: 0;
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    font-weight: 400;
}