[id="footer"] {
    padding: 28px 0;
    background: $footer-bg;
    color: $footer-color;

    .cell {
        margin-bottom: 20px;

        @include breakpoint(large) {
            margin-bottom: 0;
        }
    }

    h3 {
        text-transform: uppercase;
        margin-bottom: 9px;
    }

    a {
        color: inherit;

        &:hover {
            color: $secondary-color;
        }
    }

    p {
        margin-bottom: 1.2em;
    }

    input[type="text"],
    input[type="email"],
    label {
        font-size: inherit;
        color: inherit;
        margin-bottom: 11px;
    }

    .button,
    .button:hover{
        color: $white;
    }
}






.instagram-widget {
    @extend %listreset;
    font-size: 0;
    line-height: 0;
    margin: 0 -5px;
    padding: 5px 0; 

    li {
        display: inline-block;
        vertical-align: top;
        padding: 0 5px 10px;
    }

    img {
        display: inline-block;
        vertical-align: top;
    }
}