[id="header"] {
	z-index: 3;

	.menu a {
		line-height: 1.5;
	}
}



.header-area {
	z-index: 3; 
	 
	.holder {
		padding-top: 40px; 
		box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
		background: $header-background;

	} 

	.active:not(.is-submenu-item)>a {
		@include breakpoint(large) {
			color: $primary-color;
		}
	} 

	a {
		color: inherit;
	}
}



.title-bar{
	position: relative;
}


.logo {
	margin-bottom: 30px;
	img {
		max-height: 50px;
		
	}
}