.top-bar{


    &.nav-top{
        padding: 0;
    }
}
.navigation{ 
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 400;
    padding: 20px 0;
    font-size: 14px;
    
    
    @include breakpoint(large) {
        padding: 0;
    }
 
    .menu{
        flex-grow: 1;
        @include breakpoint(large){
            margin-left: -20px;
            margin-right: -20px;
        } 
        // @include breakpoint(xlarge) {
        //     margin-left: -40px;
        //     margin-right: -40px;
        // }

        @media screen and #{breakpoint(xlarge)} {
            margin-left: -40px;
            margin-right: -40px;
          }

        li{
            position: relative;

            @include breakpoint(medium){
                padding-left: 20px;
                padding-right: 20px;
            } 

            @media screen and #{breakpoint(xlarge)} {
                padding-left: 40px;
                padding-right: 40px;

            }
            

            &:not(:last-child):before{
                content:"/";
                position: absolute;
                top: 50%;
                transform: translate(50%, -50%);
                right: 0;
            }
            
            
        }
    }

    .menu .menu{
        margin: 0;
       
        @include breakpoint(large) {
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
        }
       
        li{
            padding: 0 20px;

            &:before{
               display: none;
            }
            &:not(:last-child){
                border-bottom: 1px solid $white;
            }
        }

        a{
            padding-left: 0;
            padding-right: 0;
            flex-grow: 1;
            border-bottom: 1px solid $medium-gray;
        }
    }

    
    >ul>li>a{
        text-transform: uppercase;
        font-weight: 500;
    }

    ul ul{
        @include breakpoint(large) {
            display: none;
        } 
    }

    .dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent > a::after{
        content: "\e900";
        font-family: "icomoon";
        width: auto;
        height: auto;
        border: none;
        top: 50%;
        transform: translateY(-50%);
    }
 


}