[id="sidebar"] {
    padding-top: $custom-margin/2;

    @include breakpoint(medium) {
        padding-top: 0;
    }
}

.side-block {

    @include breakpoint(medium) {
        margin-bottom: 50px;
    }

   
    h3{
        color: $secondary-color;
        margin-bottom: rem-calc(12px);
    }

    img {
        &:last-child {
            margin: 0;
        }
    }

}

.side-nav {
    @extend %listreset;
    margin-bottom: 30px;

    li {
        border: solid $medium-gray;
        border-width: 0 0 1px;

        &:first-child {
            border-top-width: 1px;
        }

    }

    .active a {
        color: $secondary-color;
    }

    a {
        display: block;
        padding: rem-calc(15px 0);
        color: inherit;

        &:hover {
            color: $secondary-color;
        }
    }

}

