.process-block{
    margin: 0 0 15px;
    overflow: hidden;

    &.animate_start{
        .process{
            transform: translateX(0);
        }
    }
    
    .title{
        display: block;
        font-weight: normal;
        margin-bottom: 3px;
    }

    .process-line{
        background: $medium-gray;
        height: 11px;
        position: relative;
    }
 
    .process{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background: $primary-color;
        transform: translateX(-101%);
        transition: transform 0.5s cubic-bezier(.42,0,.58,1);
    }
}