.blog-section {
    .info {
        display: grid;
        grid-template-columns: max-content max-content;
        justify-content: space-between;
        grid-gap: 10px;

    }

    .comment-counter {
        color: $medium-gray;
    }

    .cell {
        display: flex;

    }

    .card {
        display: flex;
        flex-direction: column;
    }

    .card-section.info {
        flex: 0 0 auto;
    }

    h3,
    h2 {
        a {
            color: inherit;
        }
    }

    .card {
        img {
            margin: 0;
        }
    }

    .pagination{
        display: none;
    } 

    .load-holder{
        width: 100%; 
        text-align: center;
    }

}



.comment-section-container {
    //   padding: $global-padding;

    .comment-post {
        margin-bottom: rem-calc(28);
        padding-bottom: rem-calc(7);

        &:not(:last-child) {
            border-bottom: 1px solid $concrete;
        }
    }

    h3 {
        margin-bottom: rem-calc(26);
    }


    .comment-author {
        margin-bottom: 1.1rem;
    }

    .date {
        font-size: 14px;
        color: $medium-gray;
    }

    .comment-section-text {
        padding: 0 20px;

    }

    h4 {
        display: block;
        margin: 0 0 1px;
    }
}

.comment-section-form{
    padding-top: $global-padding;

    textarea{
        height: 120px;
        min-height: 120px;
    }
}