.visual {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    padding: 50px 0;
    font-size: 20px;

    @include breakpoint(large) {
        min-height: calc(100vh - 150px);
    }


    .holder {
        z-index: 1;
        position: relative;
    }

    .text {
        margin-bottom: 30px;

        @include breakpoint(large) {
            margin-bottom: 50px;
        }
    }

    h1 {
        text-transform: uppercase;

        position: relative;
        padding-bottom: 54px;
        margin: 0;

        &:after {
            content: "";
            position: absolute;
            height: 5px;
            bottom: 27px;
            left: 50%;
            width: 70px;
            transform: translateX(-50%);
            background: $secondary-color;
        }
    }

    .h2 {
        text-transform: uppercase;
    }


    .form-block {
        background: $primary-color;
        padding: 20px 10px;

        @include breakpoint(medium) {
            padding: 30px 20px;
        }

        input {
            @include breakpoint(medium) {
                margin-bottom: 0;
            }
        }

    }

    .button {
        margin-bottom: 0;
        text-transform: uppercase;
        width: 100%;

    }

}

.img-section {

    .masonry{
        padding-bottom:22px;
    }
    .card {
        position: relative;
        margin-bottom:rem-calc(26px);

        &:before {
            content: "\e907";
            font-family: "icomoon";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            font-size: 50px;
            color: $white;
            background: rgba($black, .5);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity $animation-speed ease-in-out;
            pointer-events: none;
        }

        &:hover {
            &:before {
                opacity: 1;
            }

            .holder {

                &:before,
                &:after {
                    width: calc(100% - 40px);
                    height: calc(100% - 40px);
                }


                &:before {
                    border-top-color: $secondary-color;
                    border-right-color: $secondary-color;
                    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
                }

                &:after {
                    border-bottom-color: $secondary-color;
                    border-left-color: $secondary-color;
                    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
                }
            }
        }

    }

    .holder {

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            border: 1px solid transparent;
            width: 0;
            height: 0;
            // z-index: -1;
        }

        &:before {
            top: 20px;
            left: 20px;
        }

        &:after {
            bottom: 20px;
            right: 20px;

        }


    }

    img{
        display:inline-block;
        vertical-align:top;
    }

}
 
.ordinal-blocks{
    counter-reset: ordered-counter;

    .cell{
        counter-increment: ordered-counter;
    }
    .card{
        border: none ;
    }

    .img-block{
        text-align: center;
        margin-bottom: 20px;
    }
    
    .title{
        position: relative;
        padding: 11px 20px;
        border-left: 4px solid $secondary-color;
        z-index: 1;
        margin: 0;
        

        &:after{
            content: counter(ordered-counter, decimal-leading-zero) ;
            position: absolute;
            top: -6px;
            left: 23px;
            font-size: 60px;
            line-height: 1;
            font-weight: 700;
            color: $light-gray;
            z-index: -1;
        }
    }

    .card-section{
        padding: 14px 27px;
    }
}

.text-carousel{
    
    .orbit{
        
    }
    
    .orbit-slide{
        overflow: hidden;
        padding: 0 20px; 

        @include breakpoint(medium) {
            padding: 0 60px;
        }
    }

    .orbit-previous,
    .orbit-next{
        padding: 0;
        line-height: 1;
        color: $secondary-color;
        transform: translateY( calc(-50% - 30px));

        @include breakpoint(medium) {
            font-size: 30px;
        }
    
        &:hover,
        &:focus{
               color: $orbit-control-background-hover;
               background: none;
        }
    }

    .blockquote {
        padding: 20px 10px 70px;
        border: 1px solid $secondary-color;
        margin-bottom: 70px;
        position: relative;
        
        @include breakpoint(medium) {
            padding: 43px 21px 81px;
        }

        .photo{
            @include size(120px);
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);

            img{
                display:inline-block;
                vertical-align:top;
            }
        }

        q{
            display: block;
            margin-bottom: 21px;
        }

        cite{
            padding-left: 5px;
        }
    }
}


.blog-list{
    
    .card{
        background: none;
    }

    .card-section{
        padding: 24px 0;
    }

    .category-list{
        @extend %listreset;
        font-size: 0; 
        color: $dark-gray;
        margin: 0 0 20px;

        li{
            display:inline-block;
            vertical-align:top;
            font-size: $global-font-size;
            position: relative;
            padding-right: 32px;

            &:not(:last-child):before{
                content:"/";
                position: absolute;
                top: 0;
                right: 12px;
            }
        }

        a{
            color: inherit;
        }
    }

    h2{
        text-transform: none;
    }

    p{
        margin-bottom: 1em;
    }
}