.results-wrap{
    margin-bottom: $global-margin;
}
.search-heading{
    padding-top: 10px;
    .h3{
        margin-top: -10px;
        margin-bottom: 0.2rem;
    }
}
.results-block{
    border: 1px solid #cecece;
    border-width: 1px 0 0 ;
    padding: 30px 0;

    &:last-child{
        border-width: 1px 0;
    }

    h5{
        
        @include breakpoint(medium) {
            margin-bottom: rem-calc(24px);
        }
    }

    .category-list{
        margin-bottom: 6px;
    }

    img{
        display:inline-block;
        vertical-align:top;
        margin-bottom: rem-calc(20px);

        @include breakpoint(medium) {
            margin-bottom: 0;
        }
    }

    p{
        margin: 0;
    }
}