<!DOCTYPE html>
<html>
<head>
    {% include "/includes/head.inc" %}
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key={{si.si.gmak}}"></script>
</head>
<body>
<div class="loaded-block"></div>
<div id="wrapper">
	<header id="header">
          {% component type: "snippet", alias: "header" %} 
        </header>
	<main id="main" role="main">
		 {% component type: "snippet", alias: "home_page_banner" %} 
		 {% component type: "snippet", alias: "home_page_intro_section" %} 
		 {% component type: "snippet", alias: "home_page_visual_section" %} 
		 {% component type: "snippet", alias: "home_page_info_list" %} 
		 {% component type: "snippet", alias: "home_page_background_boxes" %} 

		<section class="latest-blog section">
			<div class="container">
				<h1 class="page-title">Latest From Our Blog</h1>
				<div class="row-holder post-holder">
					{% component source: "Blog Post", layout: "Home List", limit: "3", sortBy: "releasedate", sortOrder: "DESC", type: "module" %}
				
				</div>
			</div>
		</section>
		<section class="item-holder">
		{% component source: "Expertise", layout: "List", type: "module" %}
		</section>
		<section class="section text-section">
			<div class="container">
				{{pageContent}}
				</div>
		</section>
		<section class="content-holder background-block">
			<div class="container">
				<div class="row-holder">
					<div class="col-4">
						{% component type: "snippet", alias: "home_page_service_block_1" %}
					</div>
					<div class="col-4">
						{% component type: "snippet", alias: "home_page_service_block_2" %}
					</div>
					<div class="col-4">
					{% component type: "snippet", alias: "home_page_service_block_3" %}
					</div>
					<div class="col-4">
					{% component type: "snippet", alias: "home_page_service_block_4" %}
					</div>
					<div class="col-4">
						{% component type: "snippet", alias: "home_page_service_block_5" %}
					</div>
					<div class="col-4">
						{% component type: "snippet", alias: "home_page_service_block_6" %}
					</div>
				</div>
			</div>
		</section>
		<section class="logo-section">
			<div class="container">
				{% component type: "snippet", alias: "home_page_logo_slider" %}
			</div>
		</section>
		<section class="testimonials-slide-section">
			<div class="container">
				{% component type: "snippet", alias: "home_template_testimonials_slider" %}
			</div>
		</section>
		{% include "/includes/map.inc" %} 
		{% component type: "snippet", alias: "footer_signup_email" %}
	</main>
	<div id="footer">
		{% component type: "snippet", alias: "footer" %} 
	</div>
</div>
</div>
</body>

</html>