.button {
    text-transform: uppercase;
    font-weight: 500;

    &.secondary,
    &.secondary:hover {
        color: $white;
    }
}

.button.more {
    background: none;
    color: $secondary-color;
    border: solid $secondary-color;
    border-width: 0 0 0 5px;
    text-transform: none;
    border-radius: 0;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    font-weight: 400;
    position: relative;
    transition: color 0.4s cubic-bezier(.42,0,.58,1);

    &:hover{
        color: $white;

           &:after{
            width: 100%;
           }
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        background: $secondary-color;
        transition: width 0.4s cubic-bezier(.42,0,.58,1);
        z-index: -1;
    }
}