<div class="cell">
    <div class="card">
        <div class="img-block">
            <img src="{{this['Image']}}">
        </div>
        <div class="card-section">
            <ul class="category-list">
                {% if this['ItemCategories'].size > 0 %}
                {% assign categoryList = this['ItemCategories'] %}
                {% for item in categoryList %}
                <li>{{item}}</li>
                {% endfor %}
                {% endif %}
                <li><time class="date" datetime="{{this['ReleaseDate']}}">{{this['ReleaseDate'] | date: "%B %d, %Y" }}</time></li>
            </ul>
            <h2 class="h5 title">{{this['Name']}}</h2>
            {% if this['Description'].size > 0 -%}
            <div class="text">
                <p>{{this['Description'] | strip_html | truncatewords: 20, '.'}}</p>
            </div>
            {% endif -%}
            <div class="btn-block">
               <a class="button more" href="{{this['Url']}}">Read more...</a>
            </div>
        </div>
    </div>
</div>